* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: #0e0f11;
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
  min-height: 200vh;
  overflow-x: hidden;
}
header {
  color: whitesmoke;
}
.borderLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border: solid 3px rgba(196, 255, 107, 0.993);
  border-radius: 100%;
  box-shadow: 0px 0px 20px rgba(196, 255, 107, 0.993);
}
.color-btn {
  background-color: rgba(196, 255, 107, 0.993);
}
.btn {
  transition: box-shadow 0.3s ease, background-color 0.3 ease !important;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background-color: rgba(196, 255, 107, 0.993) !important;
  color: #222222 !important;
  border-color: rgba(196, 255, 107, 0.993) !important;
  box-shadow: 0px 0px 15px rgba(196, 255, 107, 0.993) !important;
  transition: all 0.3s linear;
}
/* Класс для инпута */
.searchInput,
.searchInput::placeholder {
  box-shadow: none !important;
  color: white;
  border: none;
}
.searchInput {
  width: 1px !important;
  transition: width 0.5s;
}
.test1:hover {
  .searchInput {
    width: 200px !important;
  }
}
.searchInput::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.searchInput:hover {
  width: 100px;
}
.btn-auth {
  background-color: aliceblue;
}
/* Для слайдера */
.carousel-item img {
  width: 958px;
  height: 398px;
}
/* Для карточек каталога */
.cardHW {
  width: 300px;
  height: 350px;
}
.card-btn {
  background: transparent;
  border: 3px solid rgba(128, 128, 128, 0.993) transparent;
  border-color: rgba(128, 128, 128, 0.993);
  border-radius: 5%;
  transition: 0.3s ease;
}
.card-btn:hover {
  border-color: rgba(196, 255, 107, 0.993);
}
/* Цвет для текста */
.textColor {
  color: rgba(196, 255, 107, 0.993);
  text-shadow: 0px 0px 15px rgba(196, 255, 107, 0.993);
}
/* Настройки для иконок */
.iconColor {
  color: rgba(196, 255, 107, 0.993);
  text-shadow: transparent;
  font-size: 50px;
  transition: 0.3s ease;
}
.iconColor:hover {
  text-shadow: 0px 0px 30px rgba(196, 255, 107, 0.993);
  cursor: pointer;
}
/* Настройки для инпутов*/
.AuthInput {
  border-color: rgba(128, 128, 128, 0.993) !important;
  box-shadow: none !important;
}
.AuthInput::placeholder {
  color: rgba(128, 128, 128, 0.993) !important;
}
.AuthInput:hover,
.AuthInput:focus {
  border-color: rgba(196, 255, 107, 0.993) !important;
  box-shadow: 0px 0px 15px rgba(196, 255, 107, 0.993) !important;
}
/* Подвал */
footer ul {
  list-style-type: none;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: aliceblue !important;
}
.dropdown-item {
  text-shadow: transparent;
  transition: 0.3s ease;
}
.dropdown-item:hover {
  background: none !important;
  text-shadow: 0px 0px 30px rgba(196, 255, 107, 0.993);
  color: rgba(196, 255, 107, 0.993) !important;
}
